*{
    margin:0px;
    padding:0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    
}



header{
    text-align:center;
}

.data{
    border-radius:15px;
    overflow:hidden;
    transition:0.3s;
}

.data:hover{
    transform:translateY(-5px);
}


.but{
    display:flex;
    justify-content:space-between;
}

header p{
    font-size:20px;
}

header input{
    width:40vw;
    border-radius:10px;

}

#search{
    margin-left:20px;
    width:60px;
}