<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scheme{% endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
    {% block extra_css %}{% endblock %}
    
</head>

<body>
    <header>
        <div id="navbar">
            <div id="intro">
                <h1>OurScheme</h1>
                <p>Find,Check</p>
                <p>Right Government scheme for you</p>
            </div>

            <div id="right">
                <div id="line">
                    <input type="text" placeholder="Search scheme" id="search">
                    <button class="auth">Login</button>
                    <button class="auth">Register</button>
                </div>

                <div id="options">
                    <a href="{{url_for('home')}}" class="nav">Home</a>
                    <a >Schemes</a>
                    <a href="{{url_for('eligibility')}}" class="nav">Check Eligibility</a>
                    <a href="{{url_for('contact')}}" class="nav">Contact Us</a>
                    <a>About Us</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        {%block content%}    {% endblock%}
    </main>



    <footer>
        <p>2026 OurScheme | All Right Reserved</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='eligibility.js')}}"></script>
</body>


</html>