<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lab.css">
</head>

<body>
    <div id="title">
        <div id="header">
            <h1>Contact Us</h1>
            <h3>Have a question or suggestion? We're here to help you. </h3>
        </div>
    </div>

    <div id="form">
        <label for="name">Name:</label>
        <input type="text" placeholder="Name here" name="name">
        <br>
        <label for="mail">Email:</label>
        <input type="email" name="mail">
        <br>
        <label for="phone">Phone.No:</label>
        <input type="tel" name="phone">
        <br>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>

            <select class="form-select" id="subject" name="subject" required>

                <option value="" selected disabled>-- Select Subject --</option>

                <option value="Scheme Information">Scheme Information</option>

                <option value="Eligibility Query">Eligibility Query</option>

                <option value="Application Process">Application Process</option>

                <option value="Required Documents">Required Documents</option>

                <option value="Technical Issue">Technical Issue</option>

                <option value="Report Incorrect Information">Report Incorrect Information</option>

                <option value="Suggest a New Scheme">Suggest a New Scheme</option>

                <option value="Feedback">Feedback</option>

                <option value="Complaint">Complaint</option>

                <option value="Partnership / Collaboration">Partnership / Collaboration</option>

                <option value="Other">Other</option>

            </select>
        </div>

       
    </div>


</body>

</html>